
@media screen and (max-width: 2150px) {
  

body {
   
}
a{
  color: black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
 
}
header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  height: 40px;

}
.barra {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    margin-top: 0px;
text-align: center;
font-family: 'Open-sans', sans-serif;
text-decoration: none;
list-style: none;
color: black;
font-size: 25px;
gap: 3rem;
background-color: white;
height: 55px;
width: 2150px;

  }
  .barra a {
    margin-left: 150px;
font-family: 'Open-sans', sans-serif;
text-decoration: none;
list-style: none;
  }
  .im1 {
      margin-left: 0px;
      margin-top: 40px;
  }
.qm {
   background-image: url(img1.jpg);
   width: 2150px;
   height: 1040px;
background-repeat: no-repeat;
margin-top: 60px;
margin-right: 0%;
max-width: 100%;
margin-top: 70px;


}

  .bord a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 0, 0);
  font-size: 25px;
position: absolute;
margin-top: 200px;
  }
  .bord {
    background-color: rgb(176, 168, 168, 0.5);
    width: 400px;
    height: 400px;
    box-shadow: -1px 3px 32px -9px rgba(0,0,0,1);
-webkit-box-shadow: -1px 3px 32px -9px rgba(0,0,0,1);
-moz-box-shadow: -1px 3px 32px -9px rgba(0,0,0,1); 

  }
}opacity: 100%;
  transform: scale(0.9) translateY(-5px);